<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ubyxsoft.pendulum" version="1.0.4" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Metronome - Pendulum</name>
    <description>
        Il metronomo è nato come uno strumento di misura della pulsazione ritmica, 
        pendulum è nato per renderlo facile, divertente e interessante.
    </description>
    <author email="info@vivo-vivendo-musica.com" href="https://vivo-vivendo-musica.com">
       UbyXsofT
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-navigation href="*://*/*" />
    <allow-navigation href="file:///*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*" />
    <access origin="*://*/*" />
    <access origin="file:///*" />
    <access origin="cdvfile://*" />
    <access origin="content:///*" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#ff8a00" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" />
        </edit-config>
        <resource-file src="www/res/icon/android/mipmap-ldpi/ic_launcher.png" target="app/src/main/res/mipmap-ldpi/ic_launcher.png" />
        <resource-file src="www/res/icon/android/mipmap-ldpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-ldpi-v26/ic_launcher_background.png" />
        <resource-file src="www/res/icon/android/mipmap-ldpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-ldpi-v26/ic_launcher_foreground.png" />
        <resource-file src="www/res/icon/android/mipmap-hdpi/ic_launcher.png" target="app/src/main/res/mipmap-hdpi/ic_launcher.png" />
        <resource-file src="www/res/icon/android/mipmap-hdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-hdpi/ic_launcher_round.png" />
        <resource-file src="www/res/icon/android/mipmap-hdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-hdpi-v26/ic_launcher_background.png" />
        <resource-file src="www/res/icon/android/mipmap-hdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-hdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="www/res/icon/android/mipmap-mdpi/ic_launcher.png" target="app/src/main/res/mipmap-mdpi/ic_launcher.png" />
        <resource-file src="www/res/icon/android/mipmap-mdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-mdpi/ic_launcher_round.png" />
        <resource-file src="www/res/icon/android/mipmap-mdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-mdpi-v26/ic_launcher_background.png" />
        <resource-file src="www/res/icon/android/mipmap-mdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-mdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="www/res/icon/android/mipmap-xhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xhdpi/ic_launcher.png" />
        <resource-file src="www/res/icon/android/mipmap-xhdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-xhdpi/ic_launcher_round.png" />
        <resource-file src="www/res/icon/android/mipmap-xhdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-xhdpi-v26/ic_launcher_background.png" />
        <resource-file src="www/res/icon/android/mipmap-xhdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-xhdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="www/res/icon/android/mipmap-xxhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xxhdpi/ic_launcher.png" />
        <resource-file src="www/res/icon/android/mipmap-xxhdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png" />
        <resource-file src="www/res/icon/android/mipmap-xxhdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-xxhdpi-v26/ic_launcher_background.png" />
        <resource-file src="www/res/icon/android/mipmap-xxhdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-xxhdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="www/res/icon/android/mipmap-xxxhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xxxhdpi/ic_launcher.png" />
        <resource-file src="www/res/icon/android/mipmap-xxxhdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png" />
        <resource-file src="www/res/icon/android/mipmap-xxxhdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-xxxhdpi-v26/ic_launcher_background.png" />
        <resource-file src="www/res/icon/android/mipmap-xxxhdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-xxxhdpi-v26/ic_launcher_foreground.png" />
        <AndroidWindowSplashScreenAnimatedIcon density="port-ldpi" src="www/res/screen/android/splash-port-ldpi.png" target="res/splash-port-ldpi.png" />
        <AndroidWindowSplashScreenAnimatedIcon density="port-mdpi" src="www/res/screen/android/splash-port-mdpi.png" target="res/splash-port-mdpi.png" />
        <AndroidWindowSplashScreenAnimatedIcon density="port-hdpi" src="www/res/screen/android/splash-port-hdpi.png" target="res/splash-port-hdpi.png" />
        <AndroidWindowSplashScreenAnimatedIcon density="port-xhdpi" src="www/res/screen/android/splash-port-xhdpi.png" target="res/splash-port-xhdpi.png" />
        <AndroidWindowSplashScreenAnimatedIcon density="port-xxhdpi" src="www/res/screen/android/splash-port-xxhdpi.png" target="res/splash-port-xxhdpi.png" />
        <AndroidWindowSplashScreenAnimatedIcon density="port-xxxhdpi" src="www/res/screen/android/splash-port-xxxhdpi.png" target="res/splash-port-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>