


:root {
  --colorOne: #00ccff;
  --colorTwo: #060606;

  --bianco: #ffffff;
  --biancosporco: #d8d8d8;
  --arancione: #ff9100;
  --nero: black;
  
  --grigiochiaro: #222222;
  --grigioscuro: #0e0e0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--colorTwo);
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  background-color: var(--colorTwo);
  margin: 0 auto;
  background-image: url('../img/backOVERLAY.png');
  overflow: hidden;
  color: var(--nero)!important;
}


#fade-wrapper-flash {
  /* visibility:hidden; */
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.96);
  z-index: 110;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}


.animated {
  background-color: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}



.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


a {
  text-decoration: none !important;
}

#btnLogoPendulum {
  cursor: pointer;
}
#btnLogoUbyXsofT{
  cursor: pointer;
  z-index: 105;
}
/*  */
#btnOpzioni {
  cursor: pointer;
}
#btnInfo{
  cursor: pointer;
}
.BLOCCO-HEADER {
  /* padding: 5px; */
  padding-top: 20px;
}

.GRAPHIC-BEAT {
  /* background-color: chartreuse; */
  margin-bottom: 20px;
  margin-top: -10px;
}

.NOTAZIONE {
  padding-top: 5px;
  /* padding-bottom: 10px;
  border-top: solid 1px #1e1e1e; */


}

.DESCIZIONE-BPM {

  margin-top: -55px;
}

.CONTROL-PLAY {}

.ubylogo {
  width: auto;
  text-align: left;
  padding: 5px;
  z-index: 0;
  cursor: pointer;
}

.tempoDisplay {

  color: var(--bianco);
  font-family: 'Myriad Pro Regular';
  font-weight: bold;
  position: relative;
  font-size: 200%;
  text-align: center;
  z-index: 101;
  text-shadow: 1px 1px 2px #000000;
  width: 100px;
    margin: auto;
}

.tempoInfoDesc {
  font-family: 'Myriad Pro Regular';
  font-size: 140%;
  text-align: center;
  margin-top: 10px;
  color: var(--colorOne);
  background-color: var(--nero);
  padding: 2px;
  margin-bottom: 2px;
  border-radius: 15px;
}

.cont_circle {
  position: relative;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: -60px;
}

.txt_bpm {
  width: 100%;
  height: auto;
  z-index: 100;
  position: relative;
  text-align: center;
  color: #939393;
  font-family: 'Myriad Pro Regular';
  font-size: 16px;
  text-shadow: 1px 1px 1px #000000;
}


.arrow-curved-right {
  position: relative;
  width: 0px;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #acacac;
  transform: rotate(37deg);
  left: 27%;
  top: -31px;
  z-index: 102;
}

.arrow-curved-right:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 6px solid #acacac;
  border-radius: 70px 0 0 0;
  top: -45px;
  left: -74px;
  width: 72px;
  height: 92px;
  transform: rotate(46deg);
}


.img_frecce {
  background-image: url('../img/frecce.png');
  width: 50%;
  height: 100px;
  position: relative;
  left: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  top: 14%;
}

.contenitore_centrale_inferiore {
  width: 100%;
  height: 40%;
  max-width: 320px;
  max-height: 230px;
  min-width: 320px;
  min-height: 230px;
  /* background-color: rgb(49, 49, 49); */
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate3d(-50%, -50%, 0);
}


.playme {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  transform: translate3d(-40%, -50%, 0);
  z-index: 100;
}

.playme.play {


  background-image: url('../img/pausa.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.playme.pausa {

  background-image: url('../img/play.png');
  background-size: contain;
  background-repeat: no-repeat;
}



.circle {
  position: relative;
  left: 24%;
  top: 0px;
  background-color: var(--colorOne);
  border-radius: 50%;
  width: 45%;
  height: 0;
  padding-bottom: 45%;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.circle:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  /* background-color: #000000; */
  border-radius: 50%;
  top: 13%;
  left: 13%;
  /* box-shadow: inset 0px 0px 5px 1px rgb(0 216 255); */
  background-image: url('../img/TopRig-copy.png');
  background-size: contain;
}

.circle .dot {
  position: absolute;
  width: 5%;
  height: 50%;
  left: 47.5%;
  top: 0;
  transform: rotate(240deg);
  transform-origin: center bottom;
}

.circle .dot:before {
  content: "";
  position: absolute;
  /* background-color: rgb(0, 0, 0); */
  /* box-shadow: 0 0 5px #000; */
  width: 150%;
  transform: translate3d(-25%, 45%, 0);
  height: 0;
  padding-bottom: 150%;
  border-radius: 50%;
  cursor: pointer;
  background-image: url('../img/punto.png');
  background-size: contain;
}



.ControlSetBeat {
  /* background-color: rgb(100, 100, 100); */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
}

.ctr-boxCont {
  /* background-color: rgb(171, 171, 171); */
  width: 100%;
  height: 100%;
  max-width: 100px;
  /* 0 a 4 elementi 100px*/
  margin-left: -1%;
  margin-right: -1%;
  cursor: pointer;
}

.ctr-boxCont .ctr-box {

  width: 70%;
  height: 35%;
  margin: 5px;
  max-height: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #1a1a1a;

}

.ctr-boxCont .ctr-box.box3 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ctr-boxCont .ctr-box.box1 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.ctr-boxCont .boxON.evidenzia {
  background-color: var(--bianco);
}

.ctr-boxCont .evidenzia {
  border-color: var(--bianco);
}



.boxON {
  background-color: #1a1a1a;
}

.ctrwav {

  max-height: 15px;
  font-size: 10px;
  color: rgb(199 199 199);
  overflow: hidden;
  margin-right: 20%;
  padding-left: 5px;
  border-radius: 5px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #000000;
}

.wavoption .selected {
  background-color: var(--arancione);
}

.modalPlayIcon {
  font-size: x-large;
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-right: 5px;
  z-index: 2;
}

#fade-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.96);
  z-index: 105;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#lblConf {
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--black);
  background-color: orange;
  font-size: larger;
  border-radius: 20px;
  margin-bottom: 40px;
  width: 90%;
  cursor: pointer;
}

/* notazione */
.btnStyleOFF {
  /* width: 50px; */
  height: 50px;
  background-image: url('../img/btn1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Myriad Pro Regular';
  color: var(--biancosporco);
  width: 25%;
  max-width: 100px;
  min-width: 100px;
  cursor: pointer;
}

.btnStyleON {
  /* width: 50px; */
  height: 50px;
  background-image: url('../img/btnSelect.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Myriad Pro Regular';
  color: var(--biancosporco);
  width: 25%;
  max-width: 100px;
  min-width: 100px;
  cursor: pointer;
}

.btn_timeSign {}

.btn_tap {}

.btn_suddivisione div.conTxt {
  font-size: xxx-large;
  font-weight: normal;
  font-family: 'musisyncregular';
  margin-top: -30px;
  margin-left: 35px;
  width: 50px;
  height: 50px;
}

.btn_suddivisione div.conImg {
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-position-y: -2px;
}

#img_diapason {

  width: 40px !important;
  height: 40px !important;
}


/* FRECCE */
.frecce {
  /* position: relative;
  top: -40px;
  display: flex; */
  position: relative;
  top: 0px;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.frecciaSX {
  position: relative;
  left: -70px;
}


/* Arrow */

.frecciaSX .arrow {
  position: relative;
  margin: 0 auto;
  width: 10px;
}

.frecciaSX .arrow .curve {
  border: 2px solid var(--grigiochiaro);
  border-color: transparent transparent transparent var(--grigiochiaro);;
  height: 80px;
  width: 80px;
  border-radius: 100px 0px 0px 0px;
}

.frecciaSX .arrow .point {
  position: absolute;
  left: 0px;
  top: 80px;
}

.frecciaSX .arrow .point:before,
.frecciaSX .arrow .point:after {
  border: 1px solid;
  border-color: var(--grigiochiaro);;
  height: 10px;
  content: "";
  position: absolute;
}

.frecciaSX .arrow .point.change:before,
.frecciaSX .arrow .point.change:after {
  border: 1px solid;
  border-color: var(--bianco);
  height: 10px;
  content: "";
  position: absolute;
}

.frecciaSX .arrow .point:before {
  top: -8px;
  left: -2px;
  transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
}

.frecciaSX .arrow .point:after {
  top: -8px;
  left: 2px;
  transform: rotate(24deg);
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
}


.frecciaDX {
  position: relative;
  right: -10px;
}

.frecciaDX .arrow {
  position: relative;
  margin: 0 auto;
  width: 10px;
}

.frecciaDX .arrow .curve {
  border: 2px solid var(--grigiochiaro);;
  border-color: var(--grigiochiaro); 
  height: 80px;
  width: 80px;
  border-radius: 0px 100px 0px 0px;
}


.frecciaDX .arrow .point {
  position: absolute;
  left: 77px;
  top: 80px;
}

.frecciaDX .arrow .point:before,
.frecciaDX .arrow .point:after {
  border: 1px solid;
  border-color: var(--grigiochiaro);;
  height: 10px;
  content: "";
  position: absolute;
}

.frecciaDX .arrow .point.change:before,
.frecciaDX .arrow .point.change:after {
  border: 1px solid;
  border-color: var(--bianco);
  height: 10px;
  content: "";
  position: absolute;
}

.frecciaDX .arrow .point:before {
  top: -8px;
  left: -2px;
  transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
}

.frecciaDX .arrow .point:after {
  top: -8px;
  left: 2px;
  transform: rotate(24deg);
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
}

/*modale*/
#overlay {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 149;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.uby-modal.modal-bottom.uby {
  -webkit-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.uby-modal.modal-bottom.uby.show {

  opacity: 1;
  height: 50%;
}

.uby-modal.modal-bottom.uby {

  opacity: 0;
  height: 0%;
}




.uby-modal {
  width: 100%;
  height: 50%;
  background-color: var(--black);
  margin: auto;
  bottom: 0;
  position: fixed;
  z-index: 150;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}




.uby-modal-header {
  background-color: #141414;
  width: 100%;
  top: 0;
  position: relative;
  text-align: center;
  font-size: larger;
  font-family: 'Myriad Pro Regular';
  color: var(--colorOne);
  padding-top: 5px;
  height: 40px !important;
  z-index: 151;

}

.uby-modal-footer {
  background-color: #141414;
  width: 100%;
  bottom: 0;
  display: block;
  position: fixed;
  text-align: center;
  font-size: larger;
  font-family: 'Myriad Pro Regular';
  color: var(--colorOne);
  height: 40px !important;
  z-index: 151;
  padding-top: 5px;
  cursor: pointer;
}

.uby-modal-body {
  height: 100%;
  background-color: var(--grigioscuro);
  width: 100%;
  padding-bottom: 101px;
  overflow: auto;
}

.uby-listSound {
  width: 100%;
}

.uby-listSound .uby-list-group-item {
  background-color: var(--grigioscuro);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: 'Myriad Pro Regular';
  font-size: large;
  border: 1px #000000 solid;
  color: antiquewhite;
  padding: 5px;
}

.uby-listSound .uby-list-group-item.selected {
  background-color: #b6b6b6;
  color: var(--black);
}



#myBeats {
  /* background-color: #0a0a0a;
  width: 45%;
  display: block;
  text-align: center;
  height: 80px;
  font-weight: bold;
  border-radius: 10px;
  color: #cdcdcd;
  border: #0dcaf0 1px solid; */
  background-color: #0a0a0a;
  width: 25%;
  display: block;
  text-align: center;
  height: 100%;
  font-weight: bold;
  border-radius: 10px;
  color: #b6b6b6;
  margin-top: 25%;
  border: #262626 1px solid;
}

#myNotes {
  background-color: #0a0a0a;
  width: 25%;
  display: block;
  text-align: center;
  height: 100%;
  font-weight: bold;
  border-radius: 10px;
  color: #b6b6b6;
  margin-top: 25%;
  border: #262626 1px solid;
}

#mySeparator {
  /* width: 5%;
  height: 60px;
  color: #cdcdcd;
  font-size: xx-large;
  font-weight: bolder;
  margin: 10px; */
  width: 5%;
  height: 60px;
  color: #cdcdcd;
  font-size: xx-large;
  font-weight: bolder;
  margin: 10px;
  margin-top: 30%;
}

.uby-timeSign {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  width: 300px;
  align-items: center;
  margin: auto;
  height: 180px;
}

#mySubDivision {
  width: 90%;
  display: block;
  text-align: center;
  height: 250px;
  border-radius: 10px;
  margin-top: 100px;
}

.uby-subdivision {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  width: 300px;
  align-items: center;
  margin: auto;
  height: 180px;
}

.subimg {
  width: 35% !important;
}

.uby-txtTempo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 15%;
}

#mytxtTempo {
  text-align: center;
  font-family: 'Myriad Pro Regular';
  font-size: 50px;
  background-color: #000000;
  border-color: transparent;
  color: #cdcdcd;
  width: 120px;
}

#mytxtBpm {
  font-family: 'Myriad Pro Regular';
  font-size: 20px;
  color: #626262;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--colorOne);
  overflow: visible;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--colorOne);
  overflow: visible;
  cursor: pointer;
}


.slidecontainer {
  margin-top: 20px !important;
  width: 50%;
  margin: auto;
}

.control-group {
  margin: auto;
  width: 100% !important;
  font-size: xx-large;
  display: flex;
  text-align: center;
  margin-top: 20px !important;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--biancosporco);
}

#freq-down-button > i{
  transform: rotate(360deg) scaleX(-1);
    margin-right: 15px;
    color: var(--colorOne);
}

#freq-up-button > i{
    margin-left: 15px;
    color: var(--colorOne);
}

#freq-readout{
  color: #878787;
  margin-right: 2px;
}

#freq-play{
  margin-top: 30px;
  font-size: xx-large;
  color: var(--colorOne);
}

.PlayandVol{
  display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


#freq-volume{
  margin-top: 22px;
  margin-left: 15px;
  background-color: var(--grigiochiaro);
  border-radius: 5px;
  color: var(--biancosporco);
  height: 60px;
}

#VolumeCtrl{
  height: 60px;
  text-align: center;
}


code {
  padding: 5px 8px;
  border-radius: 10px;
  background-color: #f8f9f9;
  color: #CC0066;
}

[type='color'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type='color']::-webkit-color-swatch {
  border: none;
}

.color-picker {
  padding: 10px 15px;
  border-radius: 0px;
  border: 1px solid #222;
  background-color: #000000;
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}

#range-mytxtTempo{
  color: var(--biancosporco);
  margin-bottom: 3px;
  font-size: 38px;
}